.navBar {
  position: fixed;
  top: 0;
  width: 100%; 
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.452);

  nav {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: flex-end;
  }
  nav > ul {
    padding: 4px 16px;
  }
  li {
    display: flex;
    padding: 6px 8px;
  }
  a {
    color: #202325;
    text-decoration: none;
    font-size: 13px;
  }
}
